<article>
  <h1>Introducción</h1>
  <p>ElEscribaDelDJ es una aplicación rolera, creada para mi proyecto de fin de grado, su principal funcionalidad es ayudar con el tema de organizar fechas de partidas
      organizar resumenes de reglas, y tener todas las imagenes, documentos etc, organizados y listos para abrir mientras se realiza una partida ya sea presencial o telematicamente
      no esta pensada todavia para integrarla con roll20 u otras plataformas similares, si no más bien para partidas por discord u otros medios como skype etc.
  </p>
</article>

<article>
  <h1>¿Donde puedo descargarlo? ¿Tiene algún tipo de tutorial o manual?</h1>
  <p>Puedes descargarlo directamente desde mi carpeta de google drive <a href="https://drive.google.com/drive/u/0/folders/1oLqdfgc7y1u3t8d_E4M6sTSX20XigVNS">Para Descargar pulsa aquí</a>,
      respecto a tutorial o manual tiene uno escrito pero creo que es mejor esta lista de videos de
      youtube donde explico a fondo su uso <a href="https://www.youtube.com/watch?v=iAC6NNXrh38&list=PLqxKygQ6CDCR6O04bw7Sv-I8PDr1g-zG6">Tutorial</a>  </p>
</article>

<article>
  <h1>¿Que tipo de licencia tiene? ¿Puedo usarlo sin pagar?</h1>
  <p>La licencia es abierta para todo uso no comercial, siempre y cuando no uses este producto de
      forma comercial puedes usarlo libremente para lo que quieras, puedes ver más detalles sobre la licencia y unirte o crear tu propia versión
      usando este enlace al github <a href="https://github.com/davidgmd/Proyecto-de-fin-de-grado">Enlace al respositorio</a>
  </p>
</article>
