<!-- Cabecera de la pagina -->
<header class="header">
  <section class="header__inicio">
    <button class="header__inicio__sonido" (click)="activarODesactivarSonido()">
      <mat-icon class="header__inicio__sonido-icono">{{ icono }}</mat-icon>
    </button>
    <h1 class="header__inicio-titulo">{{ "page.title" | translate }}</h1>
    <section class="header__inicio__idiomas">
      <app-language
        *ngFor="let idioma of idiomas"
        [texto]="idioma.texto"
        [bandera]="idioma.img"
        [idioma]="idioma.idioma"
      ></app-language>
    </section>
  </section>
  <nav class="header__nav">
    <div class="header__nav__home">
      <button
        mat-fab
        class="header__nav__home__button"
        color="primary"
        (mouseenter)="reproducirSonido()"
        (click)="volverInicio()"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>

    <ul class="header__nav__menu">
      <li class="header__nav__menu__item" *ngFor="let menu of opcionesMenu">
        <app-menu-option
          class="header__nav__menu__item-position"
          [texto]="menu.texto"
          [icono]="menu.icono"
          [ruta]="menu.ruta"
        ></app-menu-option>
      </li>
    </ul>
  </nav>
</header>
